@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



/* global styles */



/* ------------------------------------------------------------------ */
/* 
/* ------------------------------------------------------------------ */


/* loader  */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background: url('https://media.giphy.com/media/ycfHiJV6WZnQDFjSWH/giphy.gif') 50% 50% no-repeat rgb(0, 0, 0);
}

html{
   margin: 0px;
   padding: 0px;

}



body{
   background-color: black;
   margin: 0px;
   padding: 0px;

}



h1 { 
   animation: fadeInAnimation ease-in-out 3s; 
   animation-iteration-count: 1; 
   animation-fill-mode: forwards; 
} 
 
@keyframes fadeInAnimation { 
   0% { 
       opacity: 0; 
   } 
   100% { 
       opacity: 1; 
    } 
} 


.effect-container { 
   animation: fadeInAnimation1 ease-out 3s; 
   animation-iteration-count: 1; 
   animation-fill-mode: forwards; 
} 
 
@keyframes fadeInAnimation1 { 
   0% { 
       opacity: 0; 
   } 
   100% { 
       opacity: 1; 
    } 
} 



 
section {
   position: relative;
   height: 100vh;
   width: 100vw;
   text-align: center;
}

section:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

section{
   background-color: rgba(0, 0, 0, 0.85);

}



h4{
   color: white;
}

section .container {
   
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}

section .inner-container { 
   width: 100%; 
}
section .inner-container h1 {
   font: 85px 'Open Sans', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
section .inner-container h3 :first-of-type{
   color: white;
}
section .inner-container h3{
   font: 18px/1.9em 'Libre Baskerville', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

section .inner-container h3 span,
section .inner-container h3 a {
   color: #fff;
}
section .inner-container hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

section .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
section .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
section .social li a { color: #fff; }
section .social li a:hover { color: rgba(219, 17, 255, 0.226)}



@media only screen and (max-width: 1000px) {

 
  section .inner-container h1 {
     font: 80px/1.1em 'Open Sans', sans-serif;
     letter-spacing: -1px;
     margin: 0 auto 12px auto;
  }




}

@media only screen and (max-width: 950px) {

  section .container { padding-bottom: 12px; }
  section .inner-container h1 {
     font: 78px/1.1em 'Open Sans', sans-serif;
     letter-spacing: -1px;      
  }
  section .inner-container h3 {
     font: 17px/1.9em 'Libre Baskerville', serif;
     width: 80%;
  }
  section .inner-container hr {
     width: 65%;
     margin: 12px auto;
  }

}



@media only screen and (max-width: 720px) {
   section .container {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   section .inner-container h1 { font: 68px/1.1em 'Open Sans', sans-serif; }
   section .inner-container h3 {
      font: 16px/1.9em 'Libre Baskerville', serif;
      width: 85%;
   }
   section .inner-container hr {
      width: 80%;
      margin: 18px auto;
   }

   section .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   section .social li { margin: 0 10px; }
}


@media only screen and (max-width: 500px) {
   section .container { padding-top: 24px; }
   section .inner-container h1 {
      font: 40px/1.1em 'Open Sans', sans-serif;      
      margin: 0 auto 24px auto;
   }
   section .inner-container h3 {
      font: 14px/1.9em 'Libre Baskerville', sans-serif;
      width: 90%;
   }
  
   section .social { font-size: 20px;}
   section .social li { margin: 0 6px; }

}


#container {display: flex; flex-direction: column; justify-content: center; text-align: center;}
